nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(27, 23, 23);
    padding: 0.8rem;
    transition: all 0.3s ease;
    &:hover {
      background: rgb(27, 23, 23);
      color: white;
    }
  }
}
@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}